@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import './anim.css';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    color: white;
}

body{
    color: white;
    font-family: 'Gemunu Libre', sans-serif;
}

p{
    font-family: 'Gemunu Libre', sans-serif;
}

header {
    width: 100%;
    height: 72px;
}

.page_title {
    font-size: 50px;
}

header:hover {
    background-color: #d9534f;
    cursor:default;
    user-select: none;
}

.photo_1 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo_2 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo_3 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo_frame {
    border-radius: 12px;
    border: 2px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 680px;
    height: 500px;
}

.photo_frame_2 {
    border-radius: 12px;
    border: 2px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 450px;
    height: 500px;
}

.photo_frame_3 {
    border-radius: 12px;
    border: 2px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 680px;
    height: 500px;
}

.photo_frame_bottom {
    width: 100%;
    height: 30px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: left;
    padding-left: 10px;
    border-bottom: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
}

.like_unselected {
    display: inline; /*Default*/
    color: black;
    user-select: none;
    float: right;
    padding-right: 10px;
    transition: color 0.3s ease-in-out;
}

.like_unselected:hover {
    cursor: pointer;
    color: royalblue;
}

@keyframes like_roll_anim {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}

@keyframes unlike_roll_anim {
    from{
        transform: rotateX(-0deg);
    }
    to{
        transform: rotateX(-360deg);
    }
}
.btn-custom-filo-next{
    font-size: 25px;
    width: 35%;
    height: 50px;
}

.exp_block{
    width: 80%;
    background-color: rgba(222, 184, 135, 0.685);
    border: 2px solid rgba(66, 30, 30, 0.726);
    border-radius: 12px;
    font-size: 20px ;
}

.wrapper{
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px;
}

.line-area{
    display: block;
    width: 70%;
    height: 5px;
    background: #262626;
    position: absolute;
    top: 49%;
    left: 15%;
}

.wrapper .timeline-area{
    height: 100%;
}

.single-item{
    width: 6%;
    display: inline-block;
    position: relative;
}

/**
.key_xd{
    
}
**/

table, th, td {
    border:2px solid #ffffff;
    padding: 14px;
}

tr{
    font-size: 18px;
    background-color: rgb(102, 102, 102);
}

th{
    background-color: orangered;
}

.timeline_table{
    text-align: center;
    font-size: 25px;
}

.fa-heart{
    color: white;
    
}

/*5 Emprendedores Famosos*/
.work-header{
    position:sticky;
    width: 100%;
    top: 0;
    text-align: center;
    height: 60px;
}

.work-header h2{
    font-size: 45px;
}

.dark-mode{
    bottom: 0;
    position: fixed;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.dark-mode span{
    text-align: center;
    font-size: 30px;
    margin-left: -7px;
}

.informationFrame{
    margin-top: -200px;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 1000px;
    border-radius: 15px;
    border: solid black 2px;
    color: white;
    text-align: center;
    top: 0;
    position: fixed;
    transform: translate(50%, 50%);
    width: 800px;
    height: 600px;
}

.clickableFrames{
    margin-top: 100px;
}

.clickableFrame img{
    border-radius: 12px;
    border: black 2px solid;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}
.clickableFrame img:hover{
    opacity: 90%;
    cursor: pointer;
}

/*Aptitud y Actitud*/
.start{
    margin-top: 50px;
}

.contents{
    animation-duration: 2.5s;
}

.work-header{
    animation-duration: 1s;
}

.dev-tools{
    display: none;
    animation-duration: 1.5s;
    overflow-x: hidden;
}

#separator{
    display: none;
}

.arrow{
    font-size: 15px;
}

.gBack{
    top: 0;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.image_frames{
    display: inline-block;
    text-align: center;
}

.work_body{
    color: black;
}

/*La Importancia del Espiritu Emprendedor*/

.card-body{
    display: none;
    transition: display 1s;
}

.card-header{
    transition: background-color 0.5s;
}

.card-header:hover{
    cursor: pointer;
    user-select: none;
    background-color: cornflowerblue;
}

.acc_2:hover{
    cursor: pointer;
    user-select: none;
    background-color: rgb(0, 148, 0);
}

.acc_3:hover{
    cursor: pointer;
    user-select: none;
    background-color: rgb(231, 0, 0);
}

.acc_4:hover{
    cursor: pointer;
    user-select: none;
    background-color: rgb(0, 174, 255);
}

/*Los Tipos de Textos*/


.poema1{
    margin: auto 0;
    background-color: royalblue;
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema1 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema1 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema2{
    margin: auto 0;
    background-color: rgb(8, 211, 86);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema2 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema2 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema3{
    margin: auto 0;
    background-color: rgb(211, 49, 8);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema3 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema3 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema4{
    margin: auto 0;
    background-color: rgb(211, 8, 8);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema4 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema4 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema5{
    margin: auto 0;
    background-color: rgb(0, 68, 255);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema5 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema5 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema6{
    margin: auto 0;
    background-color: rgb(145, 61, 161);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema6 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema6 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema7{
    margin: auto 0;
    background-color: rgb(226, 34, 108);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema7 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema7 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema8{
    margin: auto 0;
    background-color: rgb(111, 226, 34);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema8 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema8 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema9{
    margin: auto 0;
    background-color: rgb(0, 140, 255);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema9 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema9 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema10{
    margin: auto 0;
    background-color: rgb(238, 125, 144);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema10 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema10 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema11{
    margin: auto 0;
    background-color: rgb(255, 208, 0);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema11 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema11 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema12{
    margin: auto 0;
    background-color: rgb(255, 0, 85);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema12 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema12 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema13{
    margin: auto 0;
    background-color: rgb(255, 94, 0);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema13 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema13 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema14{
    margin: auto 0;
    background-color: rgb(2, 114, 158);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema14 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema14 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema15{
    margin: auto 0;
    background-color: rgb(1, 255, 86);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema15 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema15 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.poema16{
    margin: auto 0;
    background-color: rgb(2, 158, 124);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.poema16 p{
    background-color: #d1d1d1;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
}

.poema16 p:hover{
    opacity: 80%;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}



.work-header{
    z-index: 10000;
}

#gUpBtn{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 15px;
    right: 5px;
    border-radius: 12px;
    background-color: #2adb33;
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    border: none;
    transition: all 0.2s;
}

#gUpBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.582) 0px 5px 15px;
}

.arrow{
    font-size: 50px;
}

.qans{
    font-size: 30px;
}

.gBackBtn{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
}

.bg-fresh{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/*Zona de Confort*/

.conf-body{
    background: #EC2525;   
}

.title{
    font-family: 'JunkDog';
    text-align: center;
    margin-top: 250px;
    font-size: 150px;
    user-select: none;
}

#btn-start{
    width: 402px;
    height: 71px;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'JunkDog';
    background: #008198;
    border-radius: 12px;
    border: none;
    color: white;
    transition: all 0.5s;
}

#btn-start:hover{
    background: #00a2be;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.qone-q{
    font-size: 50px;
}

.qone-a{
    font-size: 35px;
}

.qone-a-img{
    width: 500px;
    margin-top: 50px;
}

.qtwo-a-img{
    width: 500px;
    margin-top: 50px;
}

.qthree-a-img{
    width: 450px;
    margin-top: 10px;
}

.qone_next{
    right: 0;
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f12711;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 14px;
    border: none;
    transition: all 0.5s;
    border: 1.5px solid gray;
}

.qone_next:hover{
    background-color: #ff6600;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.arrow-right{
    font-size: 50px;
}

.qtwo_next{
    right: 0;
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f12711;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 14px;
    border: none;
    transition: all 0.5s;
    border: 1.5px solid gray;
}

.qtwo_next:hover{
    background-color: #ff6600;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.qthree_next{
    right: 0;
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f12711;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 14px;
    border: none;
    transition: all 0.5s;
    border: 1.5px solid gray;
}

.qthree_next:hover{
    background-color: #ff6600;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

