*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

header{
    width: 100%;
    height: 72px;
}

.page_title{
    font-size: 50px;
}

header:hover{
    background-color: #d9534f;
    cursor:default;
    user-select: none;
}

.photo_1{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo_frame{
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 680px;
    height: 500px;
}

.photo_frame_title{
    
}

.photo_frame_bottom{
    width: 100%;
    height: 30px;
}