@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
@import './anim.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}

.main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow-down{
    font-size: 35px;
    animation: arrow_updown 2s ease-in-out infinite;
}

.main-title-title{
    font-size: 90px;
}

.main-title-subtitle{
    font-size: 50px;
}

.main-title-about{
    font-size: 30px;
}

.index_list{
    background-color: transparent;
}

.indice{
    transform: translateY(800px);
}

.main-index{
    text-decoration: none;
    list-style: none;
}

.index-obj{
    font-size: 30px;
}

.hover-underline-animation{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.summUnit{
    transform: translateY(800px);
    text-align: center;
}