@import './anim.css';
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslategrey;
    font-family: 'Rajdhani', sans-serif;
}

.podcast_disp{
    margin-top: 100px;
}

.podcast_disp_img img{
    width: 412px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border: 2px solid black;
    user-select: none;
}

.podcast_disp_play_btn{
    background-color: rgb(6, 180, 0);
    width: 412px;
    height: 40px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    transition: all 0.5s;
    border: .5px solid black;
}

.podcast_disp_play_btn i{
    margin-top: 3px;
    font-size: 30px;
    color: white;
    transition: all 0.5s;
    border: 2px solid transparent;
    border-radius: 50%;
}

.podcast_disp_play_btn:hover{
    background-color: rgb(7, 212, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.podcast_disp_play_btn i:hover{
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.podcast_disp_TDisp {
    background-color: rgb(211, 211, 211);
    width: 20%;
    margin-top: 10px;
    border-radius: 30px;
    height: 10px;
    border: solid 2px rgb(211, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.podcast_disp_TDisp_fill {
    background-color: rgb(76, 187, 231);
    border-radius: 30px;
    height: 10px;
    float: left;
    width: 0%;
    animation: time_bar 1200s ease-in-out;
    animation-play-state: paused;
    user-select: none;
}

table, th, td {
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border: 4px solid black;
    border-collapse: collapse;
    background-color: white;
}

th{
    background-color: orangered;
    color: whitesmoke;
    font-size: 30px;
}

td{
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
    .podcast_disp_img img{
        width: 380px;
    }
    .podcast_disp_play_btn{
        width: 380px;
    }
    
    .podcast_disp_TDisp{
        width: 50%;
        
    }
    
    table, th, td {
        margin-top: 20px;
        width: 70%;
        height: 25px;
        border: 4px solid black;
        border-collapse: collapse;
        background-color: white;
    }
    th{
        background-color: orangered;
        font-size: 20px;
    }
    td {
        font-size: 15px;
    }
}
@media only screen and (max-width: 425px){
    .podcast_disp_img img{
        width: 312px;
    }
    .podcast_disp_play_btn{
        width: 312px;
    }
    
    .podcast_disp_TDisp{
        width: 50%;
        
    }
    
    table, th, td {
        margin-top: 20px;
        width: 70%;
        height: 25px;
        border: 4px solid black;
        border-collapse: collapse;
        background-color: white;
    }
    th{
        background-color: orangered;
        font-size: 20px;
    }
    td {
        font-size: 15px;
    }
}